.App {
min-height: 7rem;


/* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.changed{
  margin:10rem;
}
input{
  margin-bottom: 5rem;
}